.header {
  background-color: #303030;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header__menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  /* adicionado para centralizar os itens do menu */
}

.header__menu_item {
  margin-right: 1.5rem;
  /* reduzido o espaço entre os itens do menu */
  max-width: 10rem;
}

.header__menu_link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
  /* adicionado efeito de transição ao passar o mouse sobre os links */
}

.header__menu_link:hover {
  color: #f2b632;
  /* mudança de cor ao passar o mouse sobre os links */
}